<%= form_for @book do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
<% if Author.count > 0 %>
  <div class="field">
    <% Author.all.each do |author| %>
      <div class="collection-check-box">
        <input type="checkbox" value="<%= author.id %>" name="book[author_ids][]" id="book_author_ids_<%= author.id %>" <%= @authors.map(&:to_i).include?(author.id.to_i) ? "checked" : '' %>>
        <label for="book_author_ids_<%= author.id %>"><%= author.first_name %></label>
      </div>
    <% end %>
  </div>
<% else %>
    No authors yet..<a href="/authors/new">Create New Author</a>
<% end %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
